/* section {
    margin: 30px auto;
    border: 3px solid green;
    border-radius:10px; 
    position:relative;
} */

form {
    text-align:center;
}

textarea{
    display:block;
    margin:10px auto;
}

h1, h2, h3, h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center   
}

img{
    width:30%;
    max-height:500px;
}

p{
    text-align: center;
    font-weight:lighter;
}

ul {
    list-style-type:none;
    
}