body {
    margin:0;
}

.movie-section {
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
}

.movie-info-ul{
    list-style: none;
    float:left;
}

.actions{
    display: block;
    margin-left: 50px;
    
}