/* body {
    margin:0;
} */

.movie-section {
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
}

.movie-title {
    float: left;
    margin-left: 50px;
}

.movie-info-ul{
    list-style: none;
    float:left;
}

.movie-info-li {
    font-size: 20px;
}

.movie-info-summary {
    font-size: 16px;
    margin-top: 20px;
    max-width:1000px;
}

.actions{
    display: block;
    margin-left: 50px;
}

.btn-primary {
    background-color: green;
    color:white;
    border:none;
    border-radius:5px;
    padding:5px 10px;
    text-decoration: none;
}

.btn-primary:hover {
    background:blueviolet;
}

.comments-ul {

}

.comment {
    margin-left: 50px;
    list-style: none;
}