.movie-section {
    margin:50px;
    display:flex;
}

.movie-img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5%;
}

.movie-title {
    margin-left: 30px;
}

.movie-info-ul {
    list-style: none;
}

.actions {
    margin-left: 30px;
}

.btn-primary {
    text-decoration: none;
}

.btn-primary:hover {
    background-color: blueviolet;
}

.comments-list {
    margin:50px;
}

.addComment-div {
    margin: 50px;
}

.comment-area {
    width:500px;
    height:100px;
}

.post-btn {
    color:white;
    background: green;
    border:none;
    border-radius:5px;
    padding:5px 10px;
    display:block;
}

.post-btn:hover{
    background:blueviolet;
}

.comments-ul {
    float:left;
}

.comment-li {
    list-style: none;
}