.movie-section {
    margin:50px;
    /* border: 2px solid green; */
    display:flex;
}

.movie-img {
    max-width: 500px;
    border-radius: 5%;
}

.movie-title {
    margin-left: 30px;
}

.movie-info-ul {
    list-style: none;
}

/* .actions {
    margin:50px;
} */

.btn-primary {
    text-decoration: none;
}

.btn-primary:hover {
    background-color: blueviolet;
}