body {
    margin:0
}

h1 {
    margin: 30px auto;
    text-align:center;
    left: auto;
    right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    color:green;
    text-align:center;
    margin:20px auto;

    
}

img {
    display:block;
    margin:auto;
    border:none;
    border-radius: 5%;
    max-width:50%;
    max-height: 30%;
}
