.addcomment {
    margin-left:50px;
    max-width:30%;
}
.comment-area {
    width:500px;
    height:100px;
}

.submit-btn {
    color:white;
    background: green;
    border:none;
    border-radius:5px;
    padding:5px 10px;
    display:block;
    
}

.submit-btn:hover{
    background:blueviolet;
}