.login-header {
    margin:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.registeroption {
    margin-top:20px;
}

.btn-primary {
    text-decoration: none;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    border: 1px solid white
}