.summary {
    display: block;
    width:100%;
    height:20%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.addMovieSection {
    width:50%;
    margin:auto;
}

h3{
    text-align:center;
    margin:30px;
}

.btn-primary {
    background-color: green;
    color:white;
    border:none;
    border-radius:5px;
    padding:5px 10px;
    margin: 10px;
    text-align: center;
}

